:root {
  --primary-color: #1a1a1a;
  --bg-color: #f7f3eb;
  --accent-color: #fb4444;
  --text-color: #1a1a1a;
}

[data-theme="dark"] {
  --primary-color: var(--color-text-primary);
  --bg-color: var(--color-background-primary);
  --accent-color: #fb4444;
  --text-color: var(--color-text-primary);
}
